*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    text-align: center;
    font-family: sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    background: #171717;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.navbar {
    display: flex;
    margin-right: 10px;
}

.logo {
    margin-left: 50px;
    
}


.logo a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 35px;
}

.navbar a {
    display: block;
    padding: 20px 20px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 23px;
}

.navbar a:hover {
    background: #967a2c;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    height: 73vh !important;
    background: url(lavando\ auto\ un\ negro\ agachado.jpg) no-repeat center;
    background-size: cover;
}

.title {
    margin-bottom: 10px;
    font-size: 66px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
}

p {
    margin-bottom: 30px;
    font-size: 23px;
    color: #fff;
    padding: 0 300px;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 14px 45px;
    border: 4px solid #ffffff;
    color: #fff;
    text-decoration: none;
    background: #c5ab36;
}

.btn:hover {
    background: none;
}

.btn-home {
    display: flex;
}

.btn-home a {
    margin: 0 10px;
    font-size: 20px;
    border: solid #000000 4px;
}

.content {
    height: 77vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sau {
    padding: 40px;
    background: #302e2e;
}

.box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.box-container {
    height: 11rem;
    width: 17rem;
    background: #101010;
    border-radius: 1rem;
    box-shadow: 0 .3rem 5rem rgba(0, 0, 0, .5);
    margin: 2rem;
}

.box-container i {
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background: #ad36c5;
    font-size: 2rem;
    margin: 1rem 0;
}

.box-container h3 {
    font-size: 20px;
    color: #c5ab36;
}

.box-container p {
    padding: 0 15px;
    font-size: 20px;

}

.about {
    background: #000000;
}

.price {
    background: url(costos.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}


.contact {
    padding-top: 55px;
    background: #000000;
    padding-bottom: 0;
}
 
section[id] {
    scroll-margin-top: 110px;
}

html {
    scroll-behavior: smooth;
}

.ig  { 
    width: 50px;
    height: 45px;
    margin-bottom: 25px; 
    margin-top: 20px;
    
}

#txt {
    border-bottom: solid #000000;
}





@media screen and (max-width:800px){
    .head{
        flex-direction: column;
        height: 120px;
        justify-content: space-evenly;
    }
}

